@model CBA.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}
<style>
    body, html {
        height: 100%;
        background-repeat: no-repeat;
        background-image: radial-gradient(rgb(255, 255, 255), rgb(104, 145, 162));
    }

    .card-container.card {
        width: 350px;
        padding: 40px 40px;
    }

    .btn {
        font-weight: 700;
        height: 36px;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        cursor: default;
    }

    /*
    * Card component
    */
    .card {
        background-color: #F7F7F7;
        /* just in case there no content*/
        padding: 20px 25px 30px;
        margin: 0 auto 25px;
        margin-top: 50px;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .profile-img-card {
        width: 96px;
        height: 96px;
        margin: 0 auto 10px;
        display: block;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 0%;
    }

    /*
    * Form styles
    */
    .profile-name-card {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin: 10px 0 0;
        min-height: 1em;
    }

    .reauth-email {
        display: block;
        color: #404040;
        line-height: 2;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form-signin #inputEmail,
    .form-signin #inputPassword {
        direction: ltr;
        height: 44px;
        font-size: 16px;
    }

    .form-signin input[type=email],
    .form-signin input[type=password],
    .form-signin input[type=text],
    .form-signin button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .form-signin .form-control:focus {
        border-color: rgb(104, 145, 162);
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    }

    .btn-signin {
        /*background-color: #4d90fe; */
        background-color: rgb(104, 145, 162);
        /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
        padding: 0px;
        font-weight: 700;
        font-size: 14px;
        height: 36px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        -o-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -webkit-transition: all 0.218s;
        transition: all 0.218s;
    }

    .btn-signin:hover,
    .btn-signin:active,
    .btn-signin:focus {
        background-color: rgb(12, 97, 33);
    }

    .forgot-password {
        color: rgb(104, 145, 162);
    }

    .forgot-password:hover,
    .forgot-password:active,
    .forgot-password:focus {
        color: rgb(12, 97, 33);
    }
</style>

<span>
    @*<div class="container container-fluid">
            <div class="card card-container">
                <div class="row">
                    <h3 class="titulo">Entrar no sistema</h3>
                </div>
                <div class="row">
                    <section class="form-signin" >
                        @using (Html.BeginForm("Login", "Login", new {ReturnUrl = ViewBag.ReturnUrl},
                            FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                        {
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            <div class="form-group">
                                @Html.LabelFor(m => m.Usuario, new {@class = "control-label col-md-2"})
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Usuario, new { @id = "nome", @class = "form-control", @placeholder = "Login"})
                                    @Html.ValidationMessageFor(m => m.Usuario, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Senha, new {@class = "control-label col-md-2"})
                                <div class="col-md-9">
                                    @Html.PasswordFor(m => m.Senha, new { @id = "senha", @class = "form-control", @placeholder = "Password"})
                                    @Html.ValidationMessageFor(m => m.Senha, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    @Html.CheckBoxFor(m => m.LembrarMe)
                                    @Html.LabelFor(m => m.LembrarMe)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <input type="submit" class="btn btn-success" value="Entrar"/>
                                </div>
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>*@
</span>

<div class="container">
    
    <div class="card card-container">
        <h1 id="login-titulo" class="titulo">Estelar</h1>
        <hr />
        @*<img id="profile-img" class="profile-img-card" src="~/Images/ibama-logo.png" />*@
        <p id="profile-name" class="profile-name-card"></p>
        @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl },
            FormMethod.Post, new { @id = "LoginForm", @class = "form-horizontal form-signin", role = "form" }))
        {

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="">
                    @Html.TextBoxFor(m => m.Usuario, new { @autofocus = "@autofocus", @id = "login-user", @class = "form-control", @placeholder = "Login" })
                    @Html.ValidationMessageFor(m => m.Usuario, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="">
                    @Html.PasswordFor(m => m.Senha, new { @id = "login-password", @class = "form-control", @placeholder = "Senha" })
                    @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
                </div>
                <div id="remember" class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.LembrarMe)
                        @Html.LabelFor(m => m.LembrarMe)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-lg btn-primary btn-block btn-signin" value="Entrar" />
            </div>
        }
    </div><!-- /card-container -->
</div><!-- /container -->

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}