<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        ViewBag.Title = "Início";
    }
    <title>Estelar - @ViewBag.Title</title>
    @*<script src="https://kit.fontawesome.com/c7a389da7f.js" crossorigin="anonymous"></script>*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <link href="~/Content/sweetalert2.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ESTELAR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @id = "sistema-titulo" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Unidades Organizacionais", "UnidadeOrganizacional", "Cadastro")</li>
                                <li class="nav-divider"></li>
                                <li>@Html.ActionLink("Bens Apreendidos", "BemApreendido", "Cadastro")</li>
                                <li>@Html.ActionLink("Tipos de Bens", "TipoBem", "Cadastro")</li>
                                <li>@Html.ActionLink("Destinação de Bens", "Index", "CadastroDestinacaoBem")</li>
                                <li>@Html.ActionLink("Unidades de Medida", "Index", "CadastroUnidadeMedida")</li>
                                <li>@Html.ActionLink("Estados de conservação", "EstadoConservacao", "Cadastro")</li>
                                <li class="nav-divider"></li>
                                <li>@Html.ActionLink("Auto de Infração", "AutoInfracao", "Cadastro")</li>
                                <li>@Html.ActionLink("Termo de Apreensão", "TermoApreensao", "Cadastro")</li>
                                <li>@Html.ActionLink("Termo de Depósito", "TermoDeposito", "Cadastro")</li>
                                <li>@Html.ActionLink("Processo Administrativo", "ProcessoAdministrativo", "Cadastro")</li>
                                <li class="nav-divider"></li>
                                <li>@Html.ActionLink("Agentes e Destinatários", "Pessoa", "Cadastro")</li>
                                <li>@Html.ActionLink("Unidade Federativa", "UnidadeFederativa", "Cadastro")</li>
                                <li>@Html.ActionLink("Cidades", "Cidade", "Cadastro")</li>
                                <li>@Html.ActionLink("Rotas de vistoria", "RotaVistoria", "Cadastro")</li>
                                <li class="nav-divider"></li>
                                <li>@Html.ActionLink("Usuários", "Index", "CadastroUsuario")</li>
                                <li>@Html.ActionLink("Perfil de usuários", "Index", "CadastroPerfil")</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Operações<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Realizar Destinação de Bem", "RealizarDestinacaoBem", "Operacao")</li>
                                <li>@Html.ActionLink("Realizar Vistoria de Bem", "RealizarVistoriaBem", "Operacao")</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Bens Apreendidos", "QtdeBem", "Relatorio")</li>
                                <li>@Html.ActionLink("Bens Apreendidos Destinados", "QtdeBemDestinado", "Relatorio")</li>
                                <li>@Html.ActionLink("Bens por Tipo", "BemPorTipo", "Relatorio")</li>
                                <li>@Html.ActionLink("Bens por Região", "BemPorRegiao", "Relatorio")</li>
                                <li>@Html.ActionLink("Bens por Depositário", "BemPorDestinatario", "Relatorio")</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gráficos<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Entrada vs Destinações", "EntradaVsDestinacao", "Grafico")</li>
                            </ul>
                        </li>
                    </ul>
                    using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoffForm" }))
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Sobre", "Sobre", "Home")</li>
                            <li><a href="#">Olá <strong>@User.Identity.Name</strong></a></li>
                            <li><a href="javascript:document.getElementById('logoffForm').submit()">Sair</a></li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Sobre", "Sobre", "Home")</li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row" style="position:relative">
                <div class="col-md-6" style="height:58.41px; position: absolute; transform: translate(0%, 25%);">
                    &copy; @DateTime.Now.Year - <span id="footer-titulo">ESTELAR</span>
                </div>
                <div class="col-md-6 col-md-offset-6 text-right">
                    <a href="http://www.ibama.gov.br"><img src="~/Images/ibama-logo.png" /></a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>